.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.book-info {
  display: inline-block;
 
}
.book-info span {

  margin: 20px;
}

.title {
  text-decoration: underline;
}

table {
  width: 100%;
}
td {
  padding: 20px;
  text-align: left;
}
.table-header {
  font-weight: bold;
}
button {
  margin-left: 15px;
}
.cart {
  margin-top: 15px;
  font-size: 15px;
}
input {
  margin-right: 15px;
}
